In [1]:
import pandas as pd 
import numpy as np 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,columns=['name','score','attempts','qualify'])
print(df)
top = df.head(3)
print(top)
df = df.dropna()
df = df.reset_index(drop = True)
print(df)
print(df.iloc[:,0:2])
k={'name' : "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
dr=df.append(k, ignore_index=True)
print(dr)
drr=df.drop("attempts", axis=1)
print(drr)
df['success']='x'
L=[]
for i in df['score']:
    if i<10:
        L.append(0)
    else:
        L.append(1)
df['success']=L
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      Emily    9.0         2      no
4    Michael   20.0         3     yes
5    Matthew   14.5         1     yes
6      Kevin    8.0         2      no
7      Jonas   19.0         1     yes
        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      Emily    9.0
4    Michael   20.0
5    Matthew   14.5
6      Kevin    8.0
7      Jonas   19.0
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      Emily    9.0         2      no
4    Michael   20.0         3     yes
5    Matthew   14.5         1     yes
6      Kevin    8.0         2      no
7      Jonas   19.0         1     yes
8     Suresh   15.5         1     yes
        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
3      Emily    9.0      no
4    Michael   20.0     yes
5    Matthew   14.5     yes
6      Kevin    8.0      no
7      Jonas   19.0     yes
        name  score  attempts qualify  success
0  Anastasia   12.5         1     yes        1
1       Dima    9.0         3      no        0
2  Katherine   16.5         2     yes        1
3      Emily    9.0         2      no        0
4    Michael   20.0         3     yes        1
5    Matthew   14.5         1     yes        1
6      Kevin    8.0         2      no        0
7      Jonas   19.0         1     yes        1